body {
    margin: 0;
}
header {
    text-align: center;
    margin: 5px;
    padding: 10px;
}
main {
    text-align: center;
    margin: 20px;
    padding: 5px;
}
#text-box {
    width: 450px;
    height: 20px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
}