body {
    margin: 0;
    height: 100vh;
}
header {
    text-align: center;
    margin: 0px;
    padding: 10px;
    background-image: url(../img/elisa-calvet-b-S3nUOqDmUvc-unsplash.jpg);
    background-repeat: no-repeat;
    align-items: center;
    color: white;
}
main {
    text-align: center;
    margin: 20px;
    padding: 5px;
}
.form {
    margin: 10px;
}

.text-box {
    width: 450px;
    height: 20px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px 0px;
    border: 2px solid rgba(103, 247, 187, 0.822);
}
.text-box:hover {
    border: 2px solid whitesmoke;
}
.percantage_subject {
    width: 225px;
    height: 20px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px 0px;
    border: 2px solid rgba(103, 247, 187, 0.822);
}
.subjects-box {
    width: 250px;
    height: 20px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px 0px;
    border: 2px solid rgba(103, 247, 187, 0.822);
}
.button {
    margin: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgba(103, 247, 187, 0.822);
    width: 480px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400px;
}
.container {
    margin: auto;
    width: 40%;
    height: 807.778px;
    text-align: center;
    border: 5px solid rgba(103, 247, 187, 0.822);
    border-radius: 25px;
}
footer {
    text-align: left;
    margin: 0px;
    padding: 10px;
    background-image: url(../img/elisa-calvet-b-S3nUOqDmUvc-unsplash.jpg);
    
    background-repeat: no-repeat;
    align-items: center;
}
