body {
    margin: 0;
    height: 100vh;
}
header {
    text-align: center;
    margin: 5px;
    padding: 10px;
}
main {
    text-align: center;
    margin: 20px;
    padding: 5px;
}
.form {
    margin: 10px;
}

#text-box {
    width: 450px;
    height: 20px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px 0px;
    border: 2px solid rgba(103, 247, 187, 0.822);
}
#text-box:hover {
    border: 2px solid whitesmoke;
}
.button {
    margin: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgba(103, 247, 187, 0.822);
    width: 480px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400px;
}
footer {
    
}
